{
    // Environment settings for browser-specific globals like window and document
  "env": {
    "browser": true
  },
    // Rules configuration for ESLint
  "rules": {
    "eqeqeq": "warn",
    "strict": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "no-restricted-globals": "off"
  }
}
